html {
background-color: #FFF;
font-size: 13px;
font-family: sans-serif;
}

body {
width: 800px;
margin: -16px auto;
padding: 20px;
border-left: 5px solid #000;
border-right: 5px solid #000;
background-color: #FFF;
}

code, pre {
font-size: 13px;
}

pre {
margin-left: 50px;
}

h1 {
text-align: center;
padding: 40px;
border-bottom: 5px solid #000;
}

h2 {
padding: 20px;
background-color: #FFF;
display: inline-block;
border: 5px solid #000;
float: left;
margin-right: 30px; 
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
border-radius: 15px;
}

h3 {
font-size: 18px;
display: inline-block;
border-bottom: 5px solid #000;
}

ol {
margin-bottom: 50px;
}

a, a:hover, a:link, a:visited {
color: purple;
text-decoration: none;
font-weight: bold;
}

a:hover {
text-decoration: underline;
}
